<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizador de emails</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 font-sans">
    <div class="max-w-4xl mx-auto p-6 mt-10">
        <!-- Tab buttons -->
        <div class="flex justify-between">
            <div>
                <button id="tab-todos"
                    class="py-2 px-4 text-lg font-medium rounded-md bg-gray-200 text-gray-700 hover:bg-gray-300 transition-all duration-200 active:bg-blue-500 active:text-white">
                    Todos <span id="todos-count" class="ml-2 text-sm text-gray-700"></span>
                </button>
                <button id="tab-produtivo"
                    class="py-2 px-4 text-lg font-medium rounded-md bg-gray-200 text-gray-700 hover:bg-gray-300 transition-all duration-200">
                    Produtivo <span id="produtivo-count" class="ml-2 text-sm text-gray-700"></span>
                </button>
                <button id="tab-improdutivo"
                    class="py-2 px-4 text-lg font-medium rounded-md bg-gray-200 text-gray-700 hover:bg-gray-300 transition-all duration-200">
                    Improdutivo <span id="improdutivo-count" class="ml-2 text-sm text-gray-700"></span>
                </button>
            </div>
            <button id="openModalBtn"
                class="py-2 px-4 text-lg font-medium rounded-md text-gray-700 hover:bg-gray-300 text-white bg-gradient-to-r from-blue-600 to-blue-500">
                Carregar emails
            </button>
        </div>

        <!-- Tab content -->
        <div id="tab-content" class="mt-6 p-6 bg-white rounded-lg shadow-md">
            <!-- Dynamic content will be injected here -->
        </div>
    </div>

    <!-- Modal -->
    <div class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50" id="modalOverlay">
        <div class="bg-white p-8 rounded-lg shadow-xl relative">
            <!-- Close Button -->
            <button class="absolute top-4 right-4 text-gray-500 hover:text-gray-800" id="closeModalBtn">&times;</button>

            <!-- Modal Content -->
            <h3 class="text-xl font-semibold text-gray-800 mb-4">Analisar emails</h3>

            <!-- Textarea -->
            <textarea id="messageText"
                class="w-full p-4 border border-gray-300 rounded-md resize-none focus:outline-none focus:ring-2 focus:ring-blue-500"
                rows="5" placeholder="Cole o conteúdo dos emails aqui ou envie um arquivo"></textarea>

            <!-- File Input -->
            <div id="fileEmailsInputContainer" class="border border-gray-300 rounded-md w-full p-4 text-center">
                <label for="fileEmailsInput" class="block text-gray-700">Arraste e solte um arquivo aqui ou clique para
                    escolher (PDF or .txt):</label>
                <input type="file" id="fileEmailsInput"
                    class="mt-2 w-full p-2 border border-gray-300 rounded-md text-sm text-gray-700 hidden"
                    accept=".pdf, .txt" />
                <p id="filenameInputEmails" class="mt-2 text-gray-600 hidden">Arquivo</p>
            </div>



            <!-- Submit Button -->
            <div class="mt-6 flex justify-end space-x-4">
                <button class="py-2 px-4 bg-gray-500 text-white rounded-md hover:bg-gray-600"
                    id="cancelBtn">Cancelar</button>
                <button
                    class="py-2 px-4 bg-blue-600 text-white rounded-md hover:scale-105 transform transition-transform transition-[scale] duration-150 disabled:bg-blue-800"
                    id="submitEmails">Enviar</button>
            </div>
        </div>
    </div>

    <!-- <script src="utils.js"></script> -->
    <!-- <script src="listeners.js"></script> -->
    <!-- <script src="index.js"></script> -->
     <script src="{{ url_for('static', filename='utils.js') }}"></script>
     <script src="{{ url_for('static', filename='listeners.js') }}"></script>
     <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>
